::ng-deep .page-footer {
  position: relative !important;
  margin-top: 180px !important;
  /* negative value of footer height */
  height: 180px !important;
  clear: both !important;
  /* background-color: red !important; */
}
