::ng-deep #navbarNav {
  position: relative !important;
  justify-content: center;
  pointer-events: all;

}

.nav-item {
  -webkit-filter: brightness(50%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}



.nav-item :hover{
  -webkit-filter: brightness(100%);
}


::ng-deep .navbar-brand {
  position: relative;
  font-size: 40px !important;
  /* background-color: aqua; */
  padding-top: 0px !important;
  font-weight: 300 !important;
  /* font-family: "Audiowide", sans-serif; */
}

li {
  margin-left: 300px;
  font-size: 20px;
  font-weight: 700;
}

::ng-deep .brand-container .navbar-brand{
  position: relative !important;
  size: 30px !important;
  left: 50px;
}
